<!DOCTYPE html>
<html>
<head>
    <title>Comandos SSH</title>
</head>
<body>
 <pre id="output"></pre>
<span id="current-path"></span>
<form id="command-form">
    <input type="text" id="command-input" placeholder="Escriba un comando..." />
    <button type="submit">Enviar</button>
</form>


<script>

const socket = new WebSocket('ws://localhost:8000/ws');

const output = document.getElementById('output');
const currentPath = document.getElementById('current-path');
const commandForm = document.getElementById('command-form');
const commandInput = document.getElementById('command-input');

let currentDirectory = '/';

commandForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const command = commandInput.value;
    socket.send(JSON.stringify({ command, currentDirectory }));
    commandInput.value = '';
});

socket.addEventListener('message', (event) => {
    const message = JSON.parse(event.data);
    if (message.output) {
        output.textContent += message.output;
    }
    if (message.currentDirectory) {
        currentDirectory = message.currentDirectory;
        currentPath.textContent = `Directorio actual: ${currentDirectory}`;
    }
});


</script>
</body>
</html>
